[submodule "packages/log"]
	path = packages/log
	url = https://github.com/rauleite/log.git
[submodule "packages/utils"]
	path = packages/utils
	url = https://github.com/rauleite/utils.git
[submodule "packages/ssr"]
	path = packages/ssr
	url = https://github.com/rauleite/ssr.git
[submodule "packages/cli"]
	path = packages/cli
	url = https://github.com/rauleite/cli.git
